<!-- form start -->
<form id="quickForm" method="post" action= "{{ path(beneficiaire_edit_new,{'slug':slug}) }}" enctype="multipart/form-data" >
    {{ form_start(form) }}
    <div class="card-body">
        <div class="form-group">
            <label for="beneficiaire_nom">{{("nom"|trans|capitalize)}}</label>
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer le nom"|trans|capitalize,'id':'beneficiaire_nom'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_prenom">{{("prenom"|trans|capitalize)}}</label>
            {{ form_errors(form.prenom) }}
            {{ form_widget(form.prenom,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer le prenom"|trans|capitalize,'id':'beneficiaire_prenom'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_telephone">{{("telephone"|trans|capitalize)}}</label>
            {{ form_errors(form.telephone) }}
            {{ form_widget(form.telephone,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer le numéro de telephone"|trans|capitalize,'id':'beneficiaire_telephone'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_email">{{("email"|trans|capitalize)}}</label>
            {{ form_errors(form.email) }}
            {{ form_widget(form.email,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer l'email"|trans|capitalize,'id':'beneficiaire_email'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_description">{{("description"|trans|capitalize)}}</label>
            {{ form_errors(form.description) }}
            {{ form_widget(form.description,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer description"|trans|capitalize,'id':'beneficiaire_description'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_numero">{{("numero"|trans|capitalize)}}</label>
            {{ form_errors(form.numero) }}
            {{ form_widget(form.numero,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer le numero"|trans|capitalize,'id':'beneficiaire_numero'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_dateNaissance">{{("date de naissance"|trans|capitalize)}}</label>
            {{ form_errors(form.dateNaissance) }}
            {{ form_widget(form.dateNaissance,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer la date de naissance"|trans|capitalize,'id':'beneficiaire_dateNaissance'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_sexe">{{("sexe"|trans|capitalize)}}</label>
            {{ form_errors(form.sexe) }}
            {{ form_widget(form.sexe,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer le sexe"|trans|capitalize,'id':'beneficiaire_sexe'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_classe">{{("classe"|trans|capitalize)}}</label>
            {{ form_errors(form.classe) }}
            {{ form_widget(form.classe,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer la classe"|trans|capitalize,'id':'beneficiaire_classe'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_religion">{{("religion"|trans|capitalize)}}</label>
            {{ form_errors(form.religion) }}
            {{ form_widget(form.religion,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer la religion"|trans|capitalize,'id':'beneficiaire_religion'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_village">{{("village"|trans|capitalize)}}</label>
            {{ form_errors(form.village) }}
            {{ form_widget(form.village,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer le nom du village"|trans|capitalize,'id':'beneficiaire_village'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_rue">{{("rue"|trans|capitalize)}}</label>
            {{ form_errors(form.rue) }}
            {{ form_widget(form.rue,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer la rue"|trans|capitalize,'id':'beneficiaire_rue'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_rangOccupe">{{("le rang occupé"|trans|capitalize)}}</label>
            {{ form_errors(form.rangOccupe) }}
            {{ form_widget(form.rangOccupe,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer le rang occupé"|trans|capitalize,'id':'beneficiaire_rangOccupe'}}) }}
        </div>
        <div class="form-group">
            <label for="beneficiaire_classeCde">{{("classeCde"|trans|capitalize)}}</label>
            {{ form_errors(form.classeCde) }}
            {{ form_widget(form.classeCde,{'attr':{'required':'','class':'form-control','placeholder':"Veuillez entrer la classe"|trans|capitalize,'id':'beneficiaire_classeCde'}}) }}
        </div>
        {# <div class="form-group">
            <label for="exampleInputFile">Slide input</label>
            <div class="input-group">
                <div class="custom-file">
                {{ form_errors(form.slide.file) }}
                {{ form_row(form.slide.file,{'attr':{'required':'','class':'custom-file-input','id':'exampleInputFile'}}) }}
                <label class="custom-file-label" for="exampleInputFile">{{("please upload the image of your beneficiaire"|trans|capitalize)}}</label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">Upload</span>
                </div>
            </div>
        </div> #}
                  
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="submit" class="btn btn-outline-primary">
            <i class="fas fa-save"></i> {{ button_label|default('Save'|trans|capitalize) }}
        </button>
    </div>
    {{ form_end(form) }}
</form>
