{% extends 'admin/base.html.twig' %}

{% block wrapper %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Rapport de présence  </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('admin') }}">Home</a></li>
              <li class="breadcrumb-item active">présence</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  {% endblock %}
{% block body %}

<div class=" px-3">
      <div class="row">
        <div class="col col-md-auto py-2">
         {{ form_start(form) }}
          <h3>{{ form_row(form.classe) }} </h3>   
        </div>
        <div class="col col-md-auto py-5">
          {{ form_row(form.save) }}     
          {{ form_end(form) }}
        </div>
        <div class="col col-md-auto py-5">
          <a href="{{ path('rapport_absence') }}" class=" btn btn-success btn-md btn-md btn-block" role="button" title="Lien 1">Ajouter un rapport de présence</a> 
        </div>

   </div>
  


    
      <div class=" px-1 ">
          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered  ">
              <thead  class="table-secondary">

                <tr class="">
                  <th class="">Classe</th>
                  <th class="">période</th>
                   <th class=" px-4 py-2 w-1/6">Effectif</th>
                  <th class="">Nombre d'absent</th>
                  <th class="">Nombre d'absence</th>
                </tr>

              </thead>
              <tbody>
                {% for rapport in rapports %}
                 
                    <td class="">{{ rapport .classe.nom }}</td>

                   <td class="">Du {{ rapport .debutPeriode }} au {{ rapport .finPeriode }}</td>

                    <td class="px-4 py-2 w-1/4">{{ rapport.effectif }}</td>

                    <td class="">{{ rapport.nombreAbsence }}</td>

                    <td class="">{{ rapport.nombreAbsence }}</td>

                {% endfor %} 
              </tbody>
            </table>
    </div>
  </div>  
        
          

{% endblock %}
