{#consultation#}

{% extends 'base.html.twig' %}

{% block title %}Hello BeneficiaireController!{% endblock %}

{% block body %}
    <div class="py-3">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            Consultation et soins médicaux  
            <a href="{{ path('contracter') }}" class="btn btn-primary float-end font-bold " role="button" title="Lien 1">Enregistrer un cas de maladie</a>        
        </h2>
    </div>
       

    
      <div class=" px-3 ">
          <div class="table-responsive-lg">
            <table class="table    table-hover table-bordered ">
              <thead >
                <tr class="table-secondary">
                  <th class="text-center">N°</th>
                  <th class="text-center">NOM ET PRENOM</th>
                  <th class="text-center">SEXE</th>
                  <th class="text-center">DATE DE NAISSANCE</th>
                  <th class="text-center">AGE</th>
                  <th class="text-center">Maladie diagnostiquée</th>
                  <th class="text-center">Catégorie maladie</th>
                  <th class="text-center">Information sur le résultat d'analyse</th>
                  <th class="text-center">Manifestation de la maladie</th>
                  <th class=""></th>
                  
                </tr>
              </thead>
              <tbody>
                {% for contracter in contracters %}
                  
                  <tr>

                    <td class="">{{contracter.beneficiaire.numero }}</td>

                     <td class="px-4 py-2 w-1/4">{{ contracter .beneficiaire.nom }} {{ contracter.beneficiaire.prenom }}</td>

                    <td class="">{{ contracter .beneficiaire.sexe }}</td>

                    <td class="">{{contracter .beneficiaire.dateNaissance }}</td>

                    <td class="">{{ contracter .beneficiaire.getAge(contracter .beneficiaire.dateNaissance) }}</td>

                    <td class="">{{contracter .maladie.nom }}</td>

                    <td class="">{{contracter .maladie.categorie }}</td>

                    <td class="">{{contracter .infoAnalyse }}</td>

                    <td class="">{{contracter .manifestationMaladie }}</td>

                    <td class=""><a href="{{ path('showconsultation', {"id": contracter.id} ) }}" class="btn btn-primary py-2 px-4 rounded  " role="button" title="Lien 1">Voir+</a> </td>

                    
                {% endfor %}
              </tbody>
            </table>
    </div>
  </div>  

{% endblock %}
