{% extends 'base.html.twig' %}

{% block title %}Hello BeneficiaireController!{% endblock %}

{% block body %}
    <div class="py-3">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            Liste des Beneficiaires  
            <a href="{{ path('creerbeneficiaire') }}" class="btn btn-primary float-end font-bold " role="button" title="Lien 1">Ajouter un beneficiaire</a>        
        </h2>
    </div>
       
    <div class="py-3 px-4">
      <div class="row">
        <div class="col col-md-auto">
          <a href="{{ path('edit_beneficiaire') }}" class="btn btn-primary py-2 px-4 rounded  " role="button" title="Lien 1">Voir</a>
        </div>
        <div class="col col-md-auto">
          <a href="{{ path('edit_beneficiaire') }}" class="btn btn-warning btn-lg btn-block" role="button" title="Lien 1">Modifier</a> 
        </div>
        <div class="col ">
          <a href="{{ path('edit_beneficiaire' ) }}" class="btn btn-danger mb-2 btn-lg " role="button" title="Lien 1">Supprimer</a> 
        </div>
      </div>
   </div>

    
      <div class=" px-3 ">
          <div class="table-responsive-sm">
            <table class="table    table-hover ">
              <thead >
                <tr class="table-secondary">
                  <th class=""></th>
                  <th class="">N°</th>
                  <th lass=""">NOM ET PRENOM</th>
                  <th class="">SEXE</th>
                  <th class="">DATE DE NAISSANCE</th>
                  <th class="">AGE</th>
                  <th class="">RELIGION</th>
                  <th class="">NOMV  DE LA TUTRICE</th>
                  <th class="">RUE/VILLAGE</th>
                  <th class="">TELEPHONE</th>
                  <!--<th class=""></th>
                  <th class=""></th>
                  <th class=""></th>-->
                </tr>
              </thead>
              <tbody>
                {% for beneficiaire in beneficiaires %}

                  <tr>

                    <td class="">
                    <input type="checkbox" cols="1">
                     <option valeur="{{ beneficiaire.id }}"></option>
                    </input>
                    </td>


                    <td class="">{{ beneficiaire.numero }}</td>

                    <td class="px-4 py-2 w-1/4">{{ beneficiaire.nom }} {{ beneficiaire.prenom }}</td>

                    <td class="">{{ beneficiaire.sexe }}</td>

                    <td class="">{{beneficiaire.dateNaissance }}</td>

                    <td class="">{{ beneficiaire.getAge(beneficiaire.dateNaissance) }}</td>

                    <td class="">{{ beneficiaire.religion }}</td>

                    <td class="">{{ beneficiaire.nomTuteur }}</td>

                    <td class="">{{ beneficiaire.village }}</td>

                    <td class="">{{ beneficiaire.telephone }}</td>



                    <!--<td class=""><a href="{{ path('showbeneficiaire', {"num": beneficiaire.numero} ) }}" class="btn btn-primary py-2 px-4 rounded  " role="button" title="Lien 1">Voir</a> </td>

                    <td class="">
                    <a href="{{ path('edit_beneficiaire') }}" class="btn btn-warning btn-lg btn-block" role="button" title="Lien 1">Modifier</a> </td>

                    <td class="">
                    <a href="{{ path('delete_beneficiaire',{"num":beneficiaire.numero} ) }}" class="btn btn-danger mb-2 btn-lg " role="button" title="Lien 1">Supprimer</a> </td>-->


                  </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
  </div>  

{% endblock %}
