<!DOCTYPE html>
<html>
    <head>

        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            
            {% block title %}CLAVA | Dashboard
            {% endblock %}
         </title>
      
        
         <!-- Google Font: Source Sans Pro -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          <!-- Tempusdominus Bootstrap 4 -->
          <link rel="stylesheet" href="../../admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
          <!-- Font Awesome -->
          <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
          <!-- Ionicons -->
          <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />

         
          <!-- iCheck -->
          <link rel="stylesheet" href="../../admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
          <!-- JQVMap -->
          <link rel="stylesheet" href="../../admin/plugins/jqvmap/jqvmap.min.css">
          <!-- Theme style -->
          <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">
          <!-- overlayScrollbars -->
          <link rel="stylesheet" href="../../admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
          <!-- Daterange picker -->
          <link rel="stylesheet" href="../../admin/plugins/daterangepicker/daterangepicker.css">
          <!-- summernote -->
          <link rel="stylesheet" href="../../admin/plugins/summernote/summernote-bs4.min.css">


          <!--table-->
        <!-- Google Font: Source Sans Pro -->
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
          <!-- Font Awesome -->
          <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
          <!-- DataTables -->
          <link rel="stylesheet" href="../../admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
          <link rel="stylesheet" href="../../admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
          <link rel="stylesheet" href="../../admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
          <!-- Theme style -->
          <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">

          <!--/table-->
       {% block stylesheets %} 

        {% endblock %}

  </head>
   <body class="hold-transition  sidebar-mini layout-fixed">

    <div class="wrapper">
          <!-- Preloader-->
          <<div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="../../admin/dist/img/loading.GIF" alt="AdminLTELogo" height="60" width="60">
          </div> 

          <!--<div class="preloader">
            <div class="preloader-img">
                <span class="loading-animation animate-flicker"><img src="../../admin/dist/img/loading.GIF" alt="loading"/></span>
            </div>
        </div>-->




          <!-- Navbar -->
          <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
              </li>
              <li class="nav-item d-none d-sm-inline-block">
                <a href="{{ path('admin') }}" class="nav-link">Home</a>
              </li>
              <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Contact</a>
              </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
              <!-- Navbar Search -->
              <li class="nav-item">
                <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                  <i class="fas fa-search"></i>
                </a>
                <div class="navbar-search-block">
                  <form class="form-inline">
                    <div class="input-group input-group-sm">
                      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                      <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                        <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <!-- Messages Dropdown Menu -->
              <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                  <i class="far fa-comments"></i>
                  <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                  <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                      <img src="../../admin/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                      <div class="media-body">
                        <h3 class="dropdown-item-title">
                          Brad Diesel
                          <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">Call me whenever you can...</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                      </div>
                    </div>
                    <!-- Message End -->
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                      <img src="../../admin/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                      <div class="media-body">
                        <h3 class="dropdown-item-title">
                          John Pierce
                          <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">I got your message bro</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                      </div>
                    </div>
                    <!-- Message End -->
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                      <img src="../../admin/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                      <div class="media-body">
                        <h3 class="dropdown-item-title">
                          Nora Silvester
                          <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                        </h3>
                        <p class="text-sm">The subject goes here</p>
                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                      </div>
                    </div>
                    <!-- Message End -->
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
              </li>
              <!-- Notifications Dropdown Menu -->
              <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                  <i class="far fa-bell"></i>
                  <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                  <span class="dropdown-item dropdown-header">15 Notifications</span>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <i class="fas fa-envelope mr-2"></i> 4 new messages
                    <span class="float-right text-muted text-sm">3 mins</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <i class="fas fa-users mr-2"></i> 8 friend requests
                    <span class="float-right text-muted text-sm">12 hours</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <i class="fas fa-file mr-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                  <i class="fas fa-expand-arrows-alt"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                  <i class="fas fa-th-large"></i>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.navbar -->



          <!-- Main Sidebar Container -->
          <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
              <img src="../../admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
              <span class="brand-text font-weight-light">Dashboard</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
              <!-- Sidebar user panel (optional) -->
              <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                  <img src="../../admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                  <a href="#" class="d-block">EDOU Dodji</a>
                </div>
              </div>

              <!-- Sidebar Menu -->
              <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  <!-- Add icons to the links using the .nav-icon class
                       with font-awesome or any other icon font library -->
                  <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>
                        Bénéficiaire
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{{ path('creerbeneficiaire') }}" class="nav-link  ">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Enrégistrement </p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('list_beneficiaire') }}" class="nav-link ">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Liste  </p>
                        </a>
                      </li>
                      
                    </ul>
                  </li>
                  
                  <li class="nav-item">
                    <a href="#" class="nav-link ">
                      <i class="nav-icon fas fa-wheelchair"></i>
                      <p>
                        Santé
                        <i class="fas fa-angle-left right"></i>
                        
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">

                          <li class="nav-item">
                          <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-syringe"></i>
                            <p>
                              Vaccination
                              <i class="fas fa-angle-left right"></i>
                        
                            </p>
                          </a>
                          <ul class="nav nav-treeview">
                        <!--<li class="nav-item">
                        <a href="{{ path('vaccination') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Enregistrer un cas de vaccination </p>
                        </a>
                      </li>-->
                      <li class="nav-item">
                        <a href="{{ path('rapport_vaccination') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Rapport de vaccination</p>
                        </a>
                      </li>
                          </ul>
                        </li>
                     </li>
                    
                    
                     <li class="nav-item">
                      <li class="nav-item">
                          <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-procedures"></i>
                            <p>
                              Cas de maladie
                              <i class="fas fa-angle-left right"></i>
                            </p>
                          </a>
                          <ul class="nav nav-treeview">
                            <li class="nav-item">
                              <a href="{{ path('contracter') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Enregistrer un cas de maladie</p>
                              </a>
                            </li>
                             <li class="nav-item">
                              <a href="{{ path('contracter_maladie') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Liste des bénéficiaires par cas de maladie</p>
                              </a>
                            </li>
                            <!--<li class="nav-item">
                              <a href="{{ path('consultation') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Consultations et soins médicaux  </p>
                              </a>
                            </li>-->

                            <li class="nav-item">
                              <a href="{{ path('rapport_general') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rapport général</p>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a href="{{ path('rapport_individuel') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Historique sanitaire </p>
                              </a>
                            </li>
                          </ul>
                        </li>
                     </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-graduation-cap"></i>
                      <p>
                        Activités
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{{ path('classe') }}" class="nav-link">
                          <i class="fas fa-school"></i>
                          <p>Classes</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('list_cours') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Cours</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('show_culculum') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Culculum</p>
                        </a>
                      </li>
                      <li class="nav-item">

                          <li class="nav-item">
                          <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                              Rapport de présence
                              <i class="fas fa-angle-left rt de préseight"></i>
                            </p>
                          </a>
                          <ul class="nav nav-treeview">
                             <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-graduation-cap"></i>
                      <p>
                        Niveau classes
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                      <a href="{{path('absence_classe') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                           <p>Par Séance</p>
                              </a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('absence_classe_date') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>par Date</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('absence_classe_periode') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Par periode</p>
                        </a>
                      </li>
                    </ul>
                  </li>

                   <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-graduation-cap"></i>
                      <p>
                        Niveau categories
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{{ path('absence_categorie_date') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Par Date</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('absence_categorie_periode') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Par Période</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                            
                            
                          </ul>
                        </li>
                     </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-gift"></i>
                      <p>
                        Distribution des kits
                        <i class="fas fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{{ path('critere') }}" class="nav-link">
                          <i class="fas fa-archive nav-icon"></i>
                          <p>Enrégistrement</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('cadeau_statistique') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Statistique</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                     <i class="nav-icon fas fa-mail-bulk"></i>
                      <p>
                        Lettre
                        <i class="fas fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{{ path('create_lettre') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Enregistrement</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('liste_lettre') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Mes lettres</p>
                        </a>
                      
                    </ul>
                  </li>
                  
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>
                       Visite
                        <i class="fas fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                       
                      <li class="nav-item">
                        <a href="{{ path('create_visite') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Enregistrer une visite</p>
                        </a>
                      </li>
                       
                      <li class="nav-item">
                        <a href="{{ path('liste_beneficiaire_visite') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Les visites</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-table"></i>
                      <p>
                      Sensibilisation
                        <i class="fas fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="{{ path('create_sensibilisation') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Enregistrer une sensibilisation</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="{{ path('liste_sensibilisation') }}" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Les sensibilisations</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
          </aside>

        <div class="content-wrapper">
          {% block wrapper %}
           {% endblock %}
           
            <!-- Main content -->
          <section class="content">
              <div class="container-fluid">
                        

                {% block body %}
                {% endblock %}

                </div><!-- /.container-fluid -->
          </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

      <footer class="main-footer">
       {% block footer %}
        <strong>Copyright &copy; 2014-2021 <a href="https://    adminlte.io">AdminLTE.io</a>.</strong>
           All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
         <b>Version</b> 3.1.0
         </div>
      {% endblock %}
      </footer>




           <!-- jQuery -->
            <script src="../../admin/plugins/jquery/jquery.min.js"></script>
            <!-- jQuery UI 1.11.4 -->
            <script src="../../admin/plugins/jquery-ui/jquery-ui.min.js"></script>
            <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
            <script>
              $.widget.bridge('uibutton', $.ui.button)
            </script>
            <!-- Bootstrap 4 -->
            <script src="../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- ChartJS -->
            <script src="../../admin/plugins/chart.js/Chart.min.js"></script>
            <!-- Sparkline -->
            <script src="../../admin/plugins/sparklines/sparkline.js"></script>
            <!-- JQVMap -->
            <script src="../../admin/plugins/jqvmap/jquery.vmap.min.js"></script>
            <script src="../../admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
            <!-- jQuery Knob Chart -->
            <script src="../../admin/plugins/jquery-knob/jquery.knob.min.js"></script>
            <!-- daterangepicker -->
            <script src="../../admin/plugins/moment/moment.min.js"></script>
            <script src="../../admin/plugins/daterangepicker/daterangepicker.js"></script>
            <!-- Tempusdominus Bootstrap 4 -->
            <script src="../../admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
            <!-- Summernote -->
            <script src="../../admin/plugins/summernote/summernote-bs4.min.js"></script>
            <!-- overlayScrollbars -->
            <script src="../../admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
            <!-- AdminLTE App -->
            <script src="../../admin/dist/js/adminlte.js"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="../../admin/dist/js/demo.js"></script>
            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
            <script src="../../admin/dist/js/pages/dashboard.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
           

        {% block javascripts %}


        {% endblock %}


    </body>
    
</html>
