<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ "dashboard"|upper }}{% endblock %} | CLEVA {{ "dashboard"|upper }}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{asset("dashboards/plugins/fontawesome-free/css/all.min.css")}}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{asset("dashboards/dist/css/adminlte.min.css")}}">
        <!-- My proper add : Owl Caroussel -->
        <link rel="stylesheet" href="{{asset("/dashboards/owlcarousel/owl.carousel.min.css")}}">
        <link rel="stylesheet" href="{{asset("/dashboards/owlcarousel/owl.theme.default.min.css")}}">


        <!-- jQuery -->
        <script src="{{asset("dashboards/plugins/jquery/jquery.min.js")}}"></script>
        <!-- Bootstrap 4 -->
        <script src="{{asset("dashboards/plugins/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
        <!-- AdminLTE App -->
        <script src="{{asset("dashboards/dist/js/adminlte.min.js")}}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{{asset("dashboards/dist/js/demo.js")}}"></script>
        <!-- My proper add : Owl Caroussel -->
        <script src="{{asset("/dashboards/dist/js/scripts/owl_caroussel.js")}}"></script>
        <script src="{{asset("/dashboards/owlcarousel/owl.carousel.min.js")}}"></script>
        {% block javascripts %}
        {% endblock %}

    </head>

    {% block body %}
    {% endblock %}
    
</html>
