{% extends "dashboards/layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block main %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a class="text-danger" href="{{ path("dashboard_index") }}">{{ ("dashboard"|capitalize) }}</a></li>
              {# <li class="breadcrumb-item active">Dashboard v1</li> #}
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Small boxes (Stat box) -->
        <div class="row">
         <div class="col-lg-3 col-6">
                <!-- small box -->
                    <div class="small-box bg-primary">
                        <div class="inner">
                        {% if category_services is not empty %}
                            <h3>{{ category_services|length}}</h3>
                        {% else %}
                            <h3>0</h3>
                        {% endif %}

                            <h3>{{ ("categories"|capitalize) }}</h3>
                            <h5>{{ ("of services"|capitalize) }}</h5>
                        </div>
                        <div class="icon">
                            <i class="fab fa-servicestack"></i>
                        </div>
                        <a href="{{ path("category_service_index") }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div> 
   
            <!-- ./col -->
        </div>
        <!-- /.Small boxes (Stat box) -->

      </div>
    </section>


{% endblock %}