{% extends 'admin/base.html.twig' %}

{% block wrapper %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="text-info m-0">Beneficiaire</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('list_beneficiaire') }}">Retour</a></li>
              <li class="breadcrumb-item active">Beneficiaire</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header --> 

     {% endblock %}    

        {% block body %}

    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card  card-info">
                <div class="card-header text-center"><h3>Fiche du
                    Bénéficiaire {{benef.numero}} </h3></div>
                        <div class="card-body">
                            
                            <h4>Nom&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: <strong>{{ benef.nom }}</strong></h4>
                            
                            
                            <h4>Prenom &ensp;&emsp;&emsp;&emsp;&emsp;: <strong>{{ benef.prenom }}</strong></h4>
                            

                            <h4>Age&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: <strong>{{  benef.getAge(benef.dateNaissance) }}</strong></h4>
                            

                            <h4>Telephone &ensp;&emsp;&emsp;&emsp;: <strong>{{ benef.telephone }}</strong></h4>
                            

                            <h4>Email &ensp;&emsp;&emsp;&emsp;&emsp;&emsp;: <strong>{{ benef.email }}</strong></h4>
                            

                            <h4>Date de naissance &ensp;: <strong>{{ benef.dateNaissance|date("d-m-Y")}}</strong></h4>

                            <h4>Lieu de naissance &ensp;: <strong>{{ benef.lieuNaissance}}</strong></h4>
                           

                            <h4>Sexe &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: <strong>{{ benef.sexe}}</strong></h4>
                          

                            <h4>Classe&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;: <strong>{{ benef.classe }}</strong></h4>
                           
                            <h4>Religion&emsp;&emsp;&emsp;&emsp;&emsp;: <strong>{{benef.religion }}</strong></h4>

                           
                            <h4>Nom du tuteur &emsp;&emsp;: <strong>{{ benef.nomTuteur }}</strong></h4>

                            <h4>Domicile/Quartier&emsp;: <strong>{{ benef.domicile }}</strong></h4>
                            

                            <h4>Village/ville&ensp;&emsp;&emsp;&emsp;: <strong>{{ benef.adresse }}</strong></h4>

                            <h4>Prefecture/Zone&ensp;&emsp;: <strong>{{ benef.prefecture }}</strong></h4>

                            <h4>Region&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;: <strong>{{ benef.region}}</strong></h4>

                            <h4>Pays&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: <strong>{{ benef.pays }}</strong></h4>
                           

                            <h4>Rang Occupé &ensp;&emsp;&emsp;: <strong>{{ benef.rangOccupe }}</strong></h4>
                           
                             
                            

                        </div>          
                </div>
            </div>
        </div>
    </div>

        {% endblock %}

       