{% extends 'admin/base.html.twig' %}


{% block wrapper %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="text-info m-0"> Bénéficiaire</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('admin') }}">Home</a></li>
              <li class="breadcrumb-item active">beneficiaire</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  {% endblock %}

{% block body %}
    
         
    <div class="py-2 px-3">
      <div class="row">
      <div class="col col-md-auto">
         <a href="{{ path('creerbeneficiaire') }}" class="btn btn-primary btn-md  rounded  " role="button" title="Lien 1"><i class="fas fa-plus-square"></i>Ajouter un bénéficiaire</a>
        </div>
        <div class="col col-md-auto">
          <a href="{{ path('addcategorie') }}" class=" btn btn-info btn-md  btn-block" role="button" title="Lien 1"><i class="fas fa-plus-square"></i>Ajouter une catégorie</a> 
        </div>
        <div class="col ">
          {% if app.session.flashBag.has('modifier') %}
            <div class="col-6 text-center mx-auto alert alert-success">
                {% for msg in app.session.flashBag.get('modifier') %}
                  <p>  {{ msg }}</p>
                {% endfor %}

             </div>
          {% endif %}
        </div>
      </div>
   </div>

   
    

       <div class=" py-4 ">
          <div class="card table-responsive-sm">
            <table  id="example1" class="table table-hover px-3 py-4  ">
              <thead >
                <tr class="table-secondary">
                  <th class="">N°</th>
                  <th lass=""">NOM ET PRENOM</th>
                  <th class="">SEXE</th>
                  <th class="">AGE</th>
                  
                  <th class="">TELEPHONE</th>
                 <th colspan="3" class="text-center">ACTIONS</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for beneficiaire in beneficiaires %}

                  <tr>

                    <td class=""> {{ beneficiaire.numero }}</td>

                    <td class="">{{ beneficiaire.nom }} {{ beneficiaire.prenom }}</td>

                    <td class="">{{ beneficiaire.sexe }}</td>

                    <td class="">{{beneficiaire.getAge(beneficiaire.dateNaissance) }}</td>


                    <td class="">{{ beneficiaire.telephone }}</td>

                    <td class=""><a href="{{ path('showbeneficiaire', {"num": beneficiaire.id} ) }}" class="btn btn-primary btn-sm rounded  " role="button" title=""><i class="fas fa-glasses"></i>Voir</a> </td>

                    <td class="">
                    <a href="{{ path('edit_beneficiaire', {"id": beneficiaire.id}) }}" class="btn btn-warning btn-sm btn-block" role="button" title="Lien 1"> <i class="fas fa-pencil-alt"></i>Modifier</a> </td>

                    <td class="">
                    <a href="{{ path('delete_beneficiaire', {"num": beneficiaire.id} ) }}" class="btn btn-danger mb-2 btn-sm " role="button" title="Lien 1">  <i class="fas fa-trash"></i>Supprimer</a> </td>

                    
                  </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
  </div> 

{% endblock %}



  


