{% extends 'admin/base.html.twig' %}

{% block wrapper %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"> Rapport de vaccination  </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('admin') }}">Home</a></li>
              <li class="breadcrumb-item active">rapport</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  {% endblock %}
{% block body %}
    
<div class="py-5 px-3">
      <div class="row">
        <div class="col col-md-auto py-2">
         {{ form_start(form) }}
          <h3>{{ form_row(form.vaccin) }} </h3>   
        </div>
        <div class="col col-md-auto py-5">
          {{ form_row(form.save) }}     
          {{ form_end(form) }}
        </div>
        <div class="col col-md-auto py-5">
          <a href="{{ path('addvaccin') }}" class=" btn btn-info btn-md btn-md btn-block" role="button" title="Lien 1">Ajouter un vaccin</a> 
        </div>

   </div>
  
  
      <div class=" px-1 ">
          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered  ">
              <thead  class="table-secondary">

                <tr  class="">
                  <th rowspan="2" class="">N°</th>
                  <th rowspan="2" class="">NOM ET PRENOM</th>
                  <th rowspan="2" class="">SEXE</th>
                  <th rowspan="2" class="">DATE DE NAISSANCE</th>
                  <th rowspan="2" class="">AGE</th>
                  <th colspan="3" class="  text-center ">
                      DOSE
                  </th>
                  <th rowspan="2" class="">REMARQUE</th>
                </tr>

                <tr class="">
                  <th class="px-4 py-2 w-1/6">1</th>
                  <th class="px-4 py-2 w-1/6">2</th>
                  <th class="px-4 py-2 w-1/6">3</th>
                </tr>
              </thead>
              <tbody>
                

                {% for prendre in prendres %}

                  <tr>

                    <td class="">{{prendre.beneficiaire.id }}</td>

                     <td class="px-4 py-2 w-1/4">{{ prendre .beneficiaire.nom }} {{ prendre .beneficiaire.prenom }}</td>

                    <td class="">{{ prendre .beneficiaire.sexe }}</td>

                    <td class="">{{prendre .beneficiaire.dateNaissance }}</td>

                    <td class="">{{ prendre .beneficiaire.getAge(prendre .beneficiaire.dateNaissance) }}</td>

                    {% if prendre.dose==1 %}
                      <td>{{prendre.datep}}</td>
                      <td></td>
                      <td></td>
                      <td>Appliquer la dose 2,3</td>
                    {% elseif prendre.dose==2 %}
                       <td></td>
                      <td>{{prendre.datep}}</td>
                      <td></td>
                      <td>Appliquer la dose 3</td>
                    {% else %}
                       <td></td>
                      <td></td>
                      <td>{{prendre.datep}}</td>
                      <td>Les 3 doses sont appliquées</td>
                    {% endif %}

                  </tr>
                {% endfor %}
                
              </tbody>
            </table>
    </div>
  </div>  
        
          

{% endblock %}
