{% extends 'admin/base.html.twig' %}

{% block wrapper %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="text-danger m-0"><i class="fas fa-clinic-medical"></i>Consultations et soins médicaux</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('admin') }}">Home</a></li>
              <li class="breadcrumb-item active">onsultation</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  {% endblock %}


{% block body %}

    <div class="py-2 px-3">
      <div class="row">
        <div class="col ">
          {% if app.session.flashBag.has('modifierc') %}
            <div class="col-6 text-center mx-auto alert alert-success">
                {% for msg in app.session.flashBag.get('modifierc') %}
                  <p>  {{ msg }}</p>
                {% endfor %}

             </div>
          {% endif %}
        </div>
      </div>
   </div>

   
      <div class=" px-3 py-4 ">
          <div class="card table-responsive-lg">
            <table class="table  able-hover  ">
              <thead >
                <tr class="table-secondary">
                  <th class="text-center">N°</th>
                  <th class="text-center">NOM ET PRENOM</th>
                  <th class="text-center">SEXE</th>
                  <th class="text-center">DATE DE NAISSANCE</th>
                  <th class="text-center">AGE</th>
                  <th class="text-center">Maladie diagnostiquée</th>
                  <th class="text-center">Catégorie maladie</th>
                 
                  <th colspan="3" class="text-center">Actions</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                {% for contracter in contracters %}
                  
                  <tr>

                    <td class="">{{contracter.beneficiaire.id }}</td>

                     <td class="px-4 py-2 w-1/4">{{ contracter .beneficiaire.nom }} {{ contracter.beneficiaire.prenom }}</td>

                    <td class="">{{ contracter .beneficiaire.sexe }}</td>

                    <td class="">{{contracter .beneficiaire.dateNaissance }}</td>

                    <td class="">{{ contracter .beneficiaire.getAge(contracter .beneficiaire.dateNaissance) }}</td>

                    <td class="">{{contracter .maladie.nom }}</td>

                    <td class="">{{contracter .maladie.categorie }}</td>

                    <td class=""><a href="{{ path('showconsultation', {"id": contracter.id} ) }}" class="btn btn-primary btn-sm  " role="button" title="Lien 1"><i class="fas fa-glasses"></i>Voir</a> </td>

                    <td class=""><a href="{{ path('edit_contracter', {"id": contracter.id} ) }}" class="btn btn-info btn-sm    " role="button" title="Lien 1"><i class="fas fa-edit"></i>Modifier</a> </td>

                    
                {% endfor %}
              </tbody>
            </table>
    </div>
  </div>  

{% endblock %}
