{% extends 'admin/base.html.twig' %}

{% block wrapper %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="text-info m-0"><i class="fas fa-th-list"></i> Listes des bénéficiaires par maladie</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('admin') }}">Home</a></li>
              <li class="breadcrumb-item active">maladie</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  {% endblock %}

{% block body %} 

    <div class=" px-3">
      <div class="row">
        <div class="col col-md-auto py-2">
         {{ form_start(form) }}
          <h3>{{ form_row(form.maladie) }} </h3>   
        </div>
        <div class="col col-md-auto py-5">
          {{ form_row(form.save) }}     
          {{ form_end(form) }}
        </div>

   </div>


   <div class="">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        
        {% if maladie is not  null %}
           Liste des bénéficiaires ayant subi ou non le traitement de {{maladie.nom}} 

        {% endif %}
                   
        </h2>
    </div>
  
      <div class=" px-1 ">
          <div class="card table-responsive-sm">
            <table class="table table-hover table-bordered  ">
              <thead  class="table-primary">

                <tr  class="">
                  <th rowspan="" class="">N°</th>
                  <th rowspan="" class="">NOM ET PRENOM</th>
                  <th rowspan="" class="">SEXE</th>
                  <th rowspan="" class="">DATE DE NAISSANCE</th>
                  <th rowspan="" class="">AGE</th>
                  
                  <th colspan="2" class="text-center">ACTIONS</th>
                </tr>
          
              </thead>
              <tbody>
                
                 {% for beneficiaireMalade in beneficiaireMalades %}
               

                  <tr>

                    <td class="">{{beneficiaireMalade.numero }}</td>

                     <td class="px-4 py-2 w-1/4">{{ beneficiaireMalade.nom }} {{beneficiaireMalade.prenom }}</td>

                    <td class="">{{ beneficiaireMalade.sexe }}</td>

                    <td class="">{{beneficiaireMalade.dateNaissance }}</td>

                    <td class="">{{ beneficiaireMalade.getAge(beneficiaireMalade.dateNaissance) }}</td>


                    <td style="width: 130px" class="">
                    <a href="{{ path('ajouter_cas', {"idm": maladie.id,"idb": beneficiaireMalade.id}) }}" class="btn btn-primary btn-sm rounded  " role="button" title="Lien 1">Nouvelle Cas</a> </td>

                     <td style="width: 150px" class="">
                    <a href="{{ path('mes_cas', {"idm": maladie.id,"idb": beneficiaireMalade.id}) }}" class="btn btn-success btn-sm rounded  " role="button" title="Lien 1"> <i class="fas fa-eye"></i>Voir la rapport</a> </td>

                    

                  </tr>

                {% endfor %}

                 {% for beneficiaireNonMalade in beneficiaireNonMalades %}
               

                  <tr>

                    <td class="">{{beneficiaireNonMalade.numero }}</td>

                     <td class="px-4 py-2 w-1/4">{{beneficiaireNonMalade.nom }} {{beneficiaireNonMalade.prenom }}</td>

                    <td class="">{{beneficiaireNonMalade.sexe }}</td>

                    <td class="">{{beneficiaireNonMalade.dateNaissance }}</td>

                    <td class="">{{beneficiaireNonMalade.getAge(beneficiaireNonMalade.dateNaissance) }}</td>


                    <td style="width: 130px" class="">
                    <a href="{{ path('ajouter_cas', {"idm": maladie.id,"idb": beneficiaireNonMalade.id}) }}" class="btn btn-warning btn-sm rounded  " role="button" title="Lien 1"> Prémier Cas</a> </td>

                    
                    
                    <td style="width: 150px" class="">
                    <a href="#" class="btn btn-info btn-sm rounded  " role="button" title="Lien 1"> <i class="fas fa-eye"></i>Aucun rapport</a> </td>
                    
                   
                  </tr>
                {% endfor %}
                
              </tbody>
            </table>
    </div>
  </div>  
        
          
{% endblock %}
