{% extends 'admin/base.html.twig' %}

{% block wrapper %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Listes des bénéficiaires par maladie</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('admin') }}">Home</a></li>
              <li class="breadcrumb-item active">maladie</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  {% endblock %}

{% block body %}
    

<div class="px-4 ">
   <div class="card  px-4 col-4 ">
      <div class="row ">
        <div class="py-2 col col-md-auto">
         {{ form_start(form) }}
          <h3>{{ form_row(form.maladie) }}   </h3>       
        </div>
        <div class="py-5 col col-md-auto">
          <h3>{{ form_row(form.save) }}     
          {{ form_end(form) }}
        </div>   
      </div>
   </div>
</div>

   <div class="py-3 px-3">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        {% if maladie is null %}
            Veuillez selectionner une maladie 
        {% else %}
          Liste des bénéficiaires ayant subi le traitement de {{maladie.nom}} 

        {% endif %}
                   
        </h2>
    </div>


      <div class=" px-3 ">
          <div class="table-responsive-sm">
            <table class="table table-hover table-bordered  ">
              <thead  class="table-secondary">

               <tr class="table-secondary">
                  <th class="text-center">N°</th>
                  <th class="text-center px-4 py-2 w-1/4">NOM ET PRENOM</th>
                  <th class="text-center">SEXE</th>
                  <th class="text-center">DATE DE NAISSANCE</th>
                  <th class="text-center">AGE</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Produits prescrits et administrés pour les soin</th>
                  <th class="text-center">Début de l'hospitalisation</th>
                  <th class="text-center">Fin de l'hospitalisation</th>
                  <th class="text-center">Montant des soins et analyses</th>
                  <th class="">Etat du bénéficiaire après manifestation de la maladie</th>
               </tr>
              </thead>
              <tbody>
                
                  {% for contracter in contracters %}
                  
                  <tr>

                    <td class="">{{contracter.beneficiaire.id }}</td>

                     <td class="px-4 py-2 w-1/4">{{ contracter .beneficiaire.nom }} {{ contracter.beneficiaire.prenom }}</td>

                    <td class="">{{ contracter .beneficiaire.sexe }}</td>

                    <td class="">{{contracter .beneficiaire.dateNaissance }}</td>

                    <td class="">{{ contracter .beneficiaire.getAge(contracter .beneficiaire.dateNaissance) }}</td>

                    <td class="">{{contracter .date }}</td>

                    <td class="">{{contracter .produitPrescrit }}</td>

                    <td class="">{{contracter .debutHospitalisation }}</td>

                    <td class="">{{contracter .finHospitalisation  }}</td>

                    <td class="">{{contracter .montantSoin  }}</td>

                    <td class="">{{contracter .etatBeneficiaire   }}</td>

                    
                {% endfor %}
                
              </tbody>
            </table>
    </div>
  </div>  
        
          

{% endblock %}
