{% extends 'admin/base.html.twig' %}

{% block wrapper %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('consultation') }}">Retour</a></li>
              <li class="breadcrumb-item active">affichge</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  {% endblock %}

{% block body %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card">
				<div class="text-center card-header">Détails</div>
						<div class="card-body">
               <h4>Information sur le résultat d'analyse</h4>
               <p>{{contracter .infoAnalyse }}</p>

						  <h4>Manifestation de la maladie</h4> 
						  <p>{{contracter .manifestationMaladie }}</p>
								
							<h4>Produits prescrits et administrés pour les soins</h4>
							<p>{{ contracter.produitPrescrit}}</p>
							
							<h4>Début de l'hospitalisation</h4>
							<p>{{ contracter.debutHospitalisation}}</p>
							
							<h4>Fin de l'hospitalisation</h4>
							<p>{{ contracter.finHospitalisation}}</p>

							<h4>Montant des soins et analyses</h4>
							<p>{{ contracter.montantSoin }}</p>

							<h4>Etat du bénéficiaire après manifestation de la maladie</h4>
							<p>{{ contracter.etatBeneficiaire }}</p>

							<h4>Nombre de visites éffectuées par la CDE dans le cadre de la maladie</h4>
							<p>{{contracter.nombreVisite }}</p>

							<h4>Nombre de fois que le staff a organisé le prayer support dans le cadre de la maladie</h4>
							<p>{{ contracter.nombrePrayerSupport }}</p>


						</div>			
				</div>
			</div>
		</div>
	</div>

{% endblock %}